commit_check/__pycache__/
commit_check.egg-info
__pycache__
.mypy_cache
.vscode
venv
.venv
UNKNOWN.egg-info
dist
build
tests/__pycache__
.coverage
coverage.xml

# docs
docs/_build
docs/cli_args.rst
docs/__pycache__
