name: CodSpeed

permissions:
  contents: read

on:
  push:
    branches:
      - "main"
    paths:
      - "commit_check/**"
      - "tests/**"
      - ".github/workflows/codspeed.yml"
      - "pyproject.toml"
  pull_request:
    branches:
      - "main"
    paths:
      - "commit_check/**"
      - "tests/**"
      - ".github/workflows/codspeed.yml"
      - "pyproject.toml"
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install -e .[test]

      - name: Run benchmarks
        uses: CodSpeedHQ/action@346a2d8a8d9d38909abd0bc3d23f773110f076ad # v4.4.1
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: pytest tests/ --codspeed
          mode: instrumentation # https://codspeed.io/docs/instruments
