name: CodSpeed

permissions:
  contents: read

on:
  push:
    branches:
      - "main"
    paths:
      - "commit_check/**"
      - "tests/**"
      - ".github/workflows/codspeed.yml"
      - "pyproject.toml"
  pull_request:
    branches:
      - "main"
    paths:
      - "commit_check/**"
      - "tests/**"
      - ".github/workflows/codspeed.yml"
      - "pyproject.toml"
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install -e .[test]

      - name: Run benchmarks
        uses: CodSpeedHQ/action@0700edb451d0e9f2426f99bd6977027e550fb2a6 # v4.7.0
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: pytest tests/ --codspeed
          mode: instrumentation # https://codspeed.io/docs/instruments
