name: "Pull Request Labeler"
on:
  pull_request_target:
  workflow_dispatch:

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v5
      with:
        sync-labels: true
        configuration-path: .github/labeler.yml
