name: publish package

on:
  release:
    branches: [main]
    types: [published]
  workflow_dispatch:

permissions:
  id-token: write
  attestations: write

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # use fetch --all for setuptools_scm to work
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.x'

    - name: Build wheel
      run: |
        # Install dependencies
        python -m pip install --upgrade pip twine
        # Build wheel
        python -m pip wheel -w dist .
        # Check distribution
        twine check dist/commit_check*

    - name: Create attestations
      uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
      with:
        subject-path: "dist/commit_check*"

    - name: Publish package to TestPyPI
      if: github.event_name == 'workflow_dispatch' && github.repository == 'commit-check/commit-check'
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
      run: twine upload --repository testpypi dist/commit_check*
      continue-on-error: true

    - name: Publish package to PyPI
      if: github.event_name != 'workflow_dispatch' && github.repository == 'commit-check/commit-check'
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: twine upload dist/commit_check*
