name: publish package

on:
  release:
    branches: [main]
    types: [published]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
    - uses: actions/checkout@v4
      # use fetch --all for setuptools_scm to work
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Build wheel
      run: |
        # Install dependencies
        python -m pip install --upgrade pip twine
        # Build wheel
        python -m pip wheel -w dist .
        # Check distribution
        twine check dist/commit_check*

    - name: Create attestations
      uses: actions/attest-build-provenance@v1
      with:
        subject-path: "dist/commit_check*"

    - name: Generate subject
      id: hash
      run: |
        cd dist
        HASHES=$(sha256sum commit_check* | base64 -w0)
        echo "hashes=$HASHES" >> "$GITHUB_OUTPUT"

    - name: Publish package to TestPyPI
      if: github.event_name == 'workflow_dispatch' && github.repository == 'commit-check/commit-check'
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
      run: twine upload --repository testpypi dist/commit_check*
      continue-on-error: true

    - name: Publish package to PyPI
      if: github.event_name != 'workflow_dispatch' && github.repository == 'commit-check/commit-check'
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: twine upload dist/commit_check*

  provenance:
    needs: ['publish']
    permissions:
      actions: read # To read the workflow path.
      id-token: write # To sign the provenance.
      contents: write # To add assets to a release.
    # Can't pin with hash due to how this workflow works.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.0.0
    with:
      base64-subjects: ${{ needs.publish.outputs.hashes }}
      upload-assets: true # Optional: Upload to a new release
      continue-on-error: true
