name: Release

on:
  release:
    branches: [main]
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: 'which tag to update to'
        default: 'v0'
        required: true
      ref:
        description: 'which branch to update the tag on'
        default: 'main'
        required: true

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      # use fetch --all for setuptools_scm to work
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Build wheel
      run: |
        # Install dependencies
        python -m pip install --upgrade pip twine
        # Build wheel
        python -m pip wheel -w dist .
        # Check distribution
        twine check dist/commit_check*
    - name: Publish package to TestPyPI
      if: github.event_name == 'workflow_dispatch' && github.repository == 'commit-check/commit-check'
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.TEST_PYPI_TOKEN }}
      run: twine upload --repository testpypi dist/commit_check*
    - name: Publish package to PyPI
      if: github.event_name != 'workflow_dispatch' && github.repository == 'commit-check/commit-check'
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: twine upload dist/commit_check*
    - name: Config git name and email
      run: |
        git config user.name 'github-actions'
        git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
    - name: Update tag with parameter
      if: github.event.inputs.tag != ''
      run: |
        git tag --delete ${{ inputs.tag }}  || true
        git push --delete origin ${{ inputs.tag }} || true
        git tag -a ${{ inputs.tag }} -m 'Retag ${{ inputs.tag }}'
        git push origin ${{ inputs.tag }}
    - name: Update tag to v0
      if: github.event.inputs.tag == ''
      run: |
        git tag --delete v0 || true
        git push --delete origin v0 || true
        git tag -a v2 -m 'Retag v0'
        git push origin v0
